.shop_page {
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
  .category_top_frame {
    width: 100%;
    height: auto;

    display: flex;
    flex-direction: row;
    justify-content: center;
    border: 1px solid #eaeaea;

    .container {
      height: 50px;
      flex-direction: row;
      div {
        width: 10%;
        display: flex;
        align-items: center;
        font-family: var(--font);
        font-style: normal;
        font-weight: 400;
        font-size: 15px;
        line-height: 22px;

        color: #041e42;
      }
      div:hover {
        cursor: pointer;
        border-bottom: 2px solid #041e42;
      }
    }
  }
}
